.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 200px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 25px;
  margin: 5px;
  padding: 10px;
}
.chat h4 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 5px;
  width: 100%;
  height: 25px;
}
.chat .chat__usersFrame, .chat .chat__chatFrame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 15px;
  padding: 5px;
  -webkit-box-shadow: 1px 1px 2px rgb(70, 70, 70) inset;
          box-shadow: 1px 1px 2px rgb(70, 70, 70) inset;
  background-color: rgb(240, 240, 240);
  overflow: auto;
}
.chat .chat__usersFrame div, .chat .chat__chatFrame div {
  border: 1px solid rgb(150, 150, 150);
  border-radius: 10px;
  margin-bottom: 6px;
  padding: 5px;
  background-color: white;
  -webkit-box-shadow: 1px 1px 1px rgb(70, 70, 70);
          box-shadow: 1px 1px 1px rgb(70, 70, 70);
}
.chat .chat__usersPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  min-width: 130px;
  margin-right: 10px;
}
.chat .chat__usersPanel .chat__usersFrame div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.chat .chat__usersPanel .chat__usersFrame div:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 2px 2px 2px rgb(70, 70, 70);
          box-shadow: 2px 2px 2px rgb(70, 70, 70);
}
.chat .chat__usersPanel .chat__usersFrame div img {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
.chat .chat__messageBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}
.chat .chat__messageBlock .chat__chatFrame {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.chat .chat__messageBlock .chat__chatFrame .chat__usersMesages {
  margin-right: 10px;
  max-width: 600px;
}
.chat .chat__messageBlock .chat__chatFrame .chat__myMessages {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 10px;
  max-width: 600px;
  background-color: rgb(244, 255, 212);
}
.chat .chat__messageBlock .chat__writtingBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.chat .chat__messageBlock .chat__writtingBlock textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 5px;
  margin-bottom: 0;
  resize: none;
  font-size: 0.8em;
  padding: 5px;
}
.chat .chat__messageBlock .chat__writtingBlock button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  margin-bottom: 0;
}
.chat .chat__messageBlock .chat__writtingBlock button svg {
  fill: white;
}