$border: 1px solid rgb(150, 150, 150);
$shadow: 1px 1px 1px rgb(70, 70, 70);
$textColor: rgb(80, 80, 80);

.chat {
    display: flex;
    width: 100%;
    min-height: 200px;
    border: $border;
    border-radius: 25px;
    margin: 5px;
    padding: 10px;
    h4 {
        display: inline-flex;
        justify-content: center;
        margin-bottom: 5px;
        text-align: center;
    }
    .chat__usersFrame, .chat__chatFrame {
        display: flex;
        flex-direction: column;
        border: $border;
        border-radius: 15px;
        padding: 5px;
        box-shadow: 1px 1px 2px rgb(70, 70, 70) inset;
        background-color: rgb(240, 240, 240);
        overflow: auto;
        .chat__myMessages, .chat__usersMesages, .chat__userItem {
            border: $border;
            border-radius: 10px;
            margin-bottom: 6px;
            padding: 5px;
            background-color: white;
            box-shadow: $shadow;
        }
    }
    .chat__usersPanel {
        display: flex;
        flex-direction: column;
        width: 20%;
        min-width: 130px;
        margin-right: 10px;
        .chat__usersFrame {
            div {
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 2px 2px 2px rgb(70, 70, 70);
                }
                img {
                    height: 25px;
                    width: 25px;
                    margin-right: 5px;
                }
            }
        }
    }
    .chat__messageBlock {
        display: flex;
        flex-direction: column;
        width: 80%;
        .chat__chatFrame {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            .chat__usersMesages {
                margin-right: 10px;
                max-width: 100%;
            }
            .chat__myMessages {
                align-self: flex-end;
                margin-left: 10px;
                max-width: 100%;
                background-color: rgb(244, 255, 212);
            }
            .chat__headOfMessage {
                display: flex;
                justify-content: space-between;
                p {
                    margin-left: 5px;
                    font-size: 10px;
                    color: rgb(150, 150, 150);
                    word-break: keep-all;
                }
            }
        }
        .chat__writtingBlock {
            display: flex;
            margin-top: 10px;
            textarea {
                flex: 1 1 auto;
                margin-right: 5px;
                margin-bottom: 0;
                resize: none;
                font-size: 0.8em;
                padding: 5px;
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                padding: 0px;
                margin-bottom: 0;
                border-radius: 10px 10px 18px 10px;
                svg {
                    fill: white;
                }
            }
        }
    }
}