input, button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgb(150, 150, 150);
  color: rgb(80, 80, 80);
  font-size: 16px;
}
input:focus, button:focus {
  outline: none;
  border-color: rgb(80, 80, 80);
}

button {
  background-color: rgb(220, 255, 190);
}
button:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(70, 70, 70);
          box-shadow: 1px 1px 1px rgb(70, 70, 70);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
button:disabled {
  background-color: rgb(230, 230, 230);
  color: rgb(180, 180, 180);
  cursor: auto;
}
button:disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1080px;
  height: 100vh;
  margin: 0 auto;
}

.autorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid rgb(150, 150, 150);
  padding: 20px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 1px rgb(70, 70, 70);
          box-shadow: 1px 1px 1px rgb(70, 70, 70);
}