input, textarea, button {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid rgb(150, 150, 150);
  color: rgb(80, 80, 80);
  font-size: 16px;
}
input:focus, textarea:focus, button:focus {
  outline: none;
  border-color: rgb(80, 80, 80);
}

button {
  background-color: rgb(220, 255, 190);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
button:hover {
  -webkit-box-shadow: 1px 1px 1px rgb(70, 70, 70);
          box-shadow: 1px 1px 1px rgb(70, 70, 70);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
button:disabled {
  background-color: rgb(230, 230, 230);
  color: rgb(180, 180, 180);
  cursor: auto;
}
button:disabled:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
          transform: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  max-width: 1080px;
  min-width: 360px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  width: 100%;
  margin: 0 auto;
}
header div {
  border-bottom: 1px solid rgb(150, 150, 150);
  width: 100%;
  height: 50%;
  margin: 20px;
}
header img {
  width: 100%;
  max-width: 350px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 400px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 auto;
}

.autorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid rgb(150, 150, 150);
  padding: 20px;
  border-radius: 25px;
  -webkit-box-shadow: 1px 1px 1px rgb(70, 70, 70);
          box-shadow: 1px 1px 1px rgb(70, 70, 70);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  opacity: 0.7;
}
footer a {
  margin-left: 5px;
}