$border: 1px solid rgb(150, 150, 150);
$shadow: 1px 1px 1px rgb(70, 70, 70);
$textColor: rgb(80, 80, 80);

input, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: $border;
    color: $textColor;
    font-size: 16px;
    &:focus {
        outline: none;
        border-color: rgb(80, 80, 80);
    }
}
button {
    background-color: rgb(220, 255, 190);
    transition: all 0.2s ease-in-out;
    &:hover {
        box-shadow: $shadow;
        transform: translateY(-1px);
    }
    &:disabled {
        background-color: rgb(230, 230, 230);
        color: rgb(180, 180, 180);
        cursor: auto;
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 1080px;
    min-width: 360px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    div {
        border-bottom: $border;
        width: 100%;
        height: 50%;
        margin: 20px;
    }
    img {
        width: 100%;
        max-width: 350px;
    }
}

.content {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    flex: 1 1 auto;
    margin: 0 auto;
}

.autorization {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 300px;
    border: $border;
    padding: 20px;
    border-radius: 25px;
    box-shadow: $shadow;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    opacity: 0.7;
    a {
        margin-left: 5px;

    }
}