address {
  font: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-style: none;
  font-family: "Roboto";
}

p, a, h1, h2, h3, h4, h5 {
  text-decoration: none;
  color: rgb(64, 64, 64);
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.3;
}

li {
  list-style: none;
  color: rgb(64, 64, 64);
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}